.navbar {
    box-shadow: 2px 2px 2px gray;
  }

  a {
    color: gray;
    text-decoration: none;
}

a:hover 
{
     color: greenyellow; 
     text-decoration:none; 
     cursor:pointer;  
}

.bg-light {
  background-color: #f8f9fa !important;
}